<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.epis_01.erosionhidrica">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".erosion">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".erosividad" />
        <activity android:name=".erodabilidad" />
        <activity android:name=".topografico" />
        <activity android:name=".cobertura" />
        <activity android:name=".practica" />
        <activity android:name=".perdida" />
        <activity android:name=".tierra" />
        <activity android:name=".estadistica" />
        <activity android:name=".grafica"></activity>
    </application>

</manifest>